<div class="showpage">
    <%=render 'sidebar' , user: @user%>

    <center><h1><%=@user.username%></h1></center>

    <h2>Posts</h2>

    <div>
        <%= render 'posts/posts_form'%>
    </div>

    <div id="posts" data-user-id="<%= @user.id%>">
        <%= paginate @posts%>
        <%=render @posts%>
        <%= paginate @posts%>
    </div>
</div>
